.centering {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 2956px;
  height: 100%;
  margin: 20px auto 20px auto;
}

.nav {
  /* max-width: 2956px; */
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-size: 28.75px;
  align-items: center;
}

.button {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 28.75px;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 32.84px;
}

.description-bold {
  font-family: "Playfair Display", serif;
  font-size: 197.07px;
}

.red {
  color: rgba(253, 102, 94, 1);
}

.description-button {
  font-family: "Inter", sans-serif;
  line-height: 160%;
}
.main-row {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items {
  padding: 60px;
}

.img {
  align-self: center;
}
